
.tech-stack-logo {
    transition: transform 1s ease-in-out; 
}

.tech-stack-logo:hover {
    transform: scale(1.2) translateY(-10px);
    transition: transform 0.1s ease-in-out;  
}

.About-Container {
  
    margin: 10px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 1470px;
    
}
.heading{
    margin-top: 10px;
    color:#ea9a97;
    font-size: 1.4rem;
    text-align: center;
}



.Tech-Stack-Container{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    margin: 0 auto;
    row-gap: 5px;
}


.services-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:40px;
}

.paragraph{
     font-size: clamp(1rem, 0.6429rem + 1.9048vw, 1.4rem);;
    font-style: none;
    text-align: center;
    color: #fff;
    font-weight: 400;
}


.service-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    background-color: #1f2937;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}



@media only screen and (max-width: 1024px) {

    .Tech-Stack-Container{
        display: flex;
        max-width: 1200px;
        flex-wrap: wrap;
        padding-bottom: 2px;
        

    }
    .Tech-Stack-Container > img{
        width:40px;
    }

    .services-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap:40px;
    }

    .tech-stack-logo:hover {
        transform: scale(1) translateY(-10px);
        transition: transform 0.1s ease-in-out;  
    }




    
}
