/* The CSS code you provided is styling the `body` element of a webpage. */
body{
    background-color:	var(--Background);
    display: flex;
    flex-direction: column;
    width:100%;
    overflow: hidden;
    max-width: 100%;
    font-family: 'General Sans', sans-serif;
 }



