/* The CSS code you provided is styling the `body` element of a webpage. */
body{
    background-color:	#0a0b0b;
    display: flex;
    flex-direction: column;
    width:100%;
    max-width: 100%;
    font-family: 'General Sans', sans-serif;
 }



