:root {
    --fonts_1: 'Supreme', sans-serif;
    --fonts_2: 'General Sans', sans-serif;
 }
 
 
 
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }





 header {
    background-color:	#1e2124;
    max-width: 100%;
    height: 50px;
    z-index: 999;
 
 
 }

 body{
   overflow: visible;
     
 }

 
 
 h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.5s;
    position: relative;
    color: #fff;
    display: inline;
    margin-left:10px;
    font-weight: 800;
 }
 
 header em, em{
    color:rgb(78, 217, 172);
    font-size: 1.3em;

 }
 
 nav {
    width: 100%;
    height: 50px;
 
 }
 
 nav ul {
    width: 90%;
    display: flex;
    justify-content: end;
    position: relative;
    text-align: right;
 }
 
 
 nav ul li {
    list-style: none;
    padding: 10px;
 }
 
 nav ul li a {
    font-family: var(--fonts_2);
    font-size: .8rem;
    text-decoration: none;
    color:rgb(78, 217, 172);
    font-weight: 600;
    position: relative;
    z-index: 500px;
    margin-right: 15px;
    padding:10px;
    transition: all 0.2s ease-in;
    
 
 }
 nav ul li a:hover{
    color: #1e2124;
    background-color: rgb(129, 137, 153);
    font-size: 0.9rem;
 }
 
 
 nav ul li a::after{
    content: "";
    width:0%;
    height:3px;
    position: absolute;
    left:0;
    top:50px;
    background-color: rgb(255, 255, 255);
    transition: 0.4s;
 }
 
 nav ul li a:hover::after,nav ul li a:active::after,nav ul li a:focus:after{
    width:100%;
 
 }


 
 .container{
    width:100%;
   margin-top: 50px;
    display:flex;
    flex-direction: row;
   
 }
 
 .hero-container,.subhero {
    width: 50%;
    height: 600px;
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }
 
 /* .hero-container::after{
    content:"";
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.3); 
 }*/
 
 .subhero img {
    max-width: 300px;
    height: 400px;
    transition: 0.5s;
    position: relative;
    border: 2px solid black;
    background-image: none; 
    position: relative;
    background-blend-mode: multiply;
    box-shadow: 12px 12px 6px 6px black;
    border: 2px solid black;
    border-radius: 5px;
 
 }
 
 .hero-container button{
    background-color:rgb(78, 217, 172);
    border: none;
    width:200px;
    height:50px;
    margin-top:20px;
    color:white;
    font-size: 1rem;
    border-radius: 2px;
    box-shadow: 12px 12px 6px 6px black;
    border: 2px solid black;
    transition: 0.4s;
    cursor: pointer;
    font-weight: 800;
 }
 
 .hero-container button:hover{
    transform: translateY(-10px);
    background-color: #1e2124;
 }
 
 .info_container h2{
    font-size: 2.5rem;
    font-family: var(--fonts_2);
    color:white;
    text-align:left;

 }
 
 .info_container h3{
    color:white;
    text-align:left;
    font-size:1.2rem;
    font-family: var(--fonts_2);
    text-align: center;
    font-weight: 800;
 }
 
 footer{
    background-color: #15171a;
    height:40px;
    width:100%;
    position: relative;
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
 }
 
 
 
 .info_container{
    width:max-content;
    padding:5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    position: relative;
    top:-60px;
    left:0;
    transition: 0.4ms;
    animation-name: Slideinright;
    animation-duration: 3s;
 }
 
 @keyframes Slideinright{
    0%{
       left:-500px
    }
 
    100%{
       left:0;
    }
 }
 
   /* Tablets */
 
   @media only screen and (max-width:900px) {
      header h1 {
         font-size: 1.3rem;
      }
   
      .container{
         flex-direction: column-reverse;
         width:100%;
      }
   
   }
   
   /* Mobile Devices */
   
   @media only screen and (max-width:600px){
      header h1{
         opacity: 0;
      }
   
      .container{
         flex-direction: column-reverse;
         width:100%;
      }
   
   
   }
   
   /* Pc */
   @media only screen and (min-width:1024px) {
      .subhero img {
         margin: 100px 250px;
         max-width: 550px;
         height: 500px;
      }
   }
 
 
