.Projects-container{
    display: grid;
    grid-template-columns: repeat(2, .5fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 50px;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
    align-self:center;
    padding: 20px;



}



.heading{
    margin-top: 10px;
    color:aqua;
    font-size: 1.4rem;
    text-align: center;
}

.languages{
    color: white;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 10px;
}


div .section{
    color: white;
    position: relative;
    margin: 30px auto;
    position: relative;
    font-style:italic;
    padding: 8px;
    text-align: center;

}

.Projects-container .card{
    background-color: #081d40;
    height: 500px;
    width:450px;
    border-radius: 10px;
    padding:15px;
    min-width: 300px;
    text-align: center;
    font-weight: 600;
    line-height: 1.5;
    word-wrap: break-word;

}

.Projects-container .card a button{
    background-color:rgb(78, 217, 172);
    border: none;
    width:200px;
    height:40px;
    margin-top:20px;
    color:white;
    font-size: 1rem;
    border-radius: 2px;
    box-shadow: 12px 12px 6px 6px black;
    
    transition: 0.4s;
    cursor: pointer;
    font-weight: 800;
}

.card a button:hover{
    transform: translateY(-10px);
    background-color: #1e2124;
}



@media only screen and (max-width: 1100px) {
    .Projects-container {
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
    }
  
}
